.orderDetails {
  display:none;
}

#delivery {
  width: 50%;
}

.jumbotron {
  background-image: url(../img/flower.jpeg);
  text-align: center;
  font-family:fantasy;
  border:ridge blue;

}

h1 {
  font-size:50px;
  font-weight: bolder;
}

small {
  font-weight: bolder;
}

body {
  background-image: url(../img/krab.webp);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.row {
  border: ridge blue;
  background-color: rgb(122, 222, 222);
  font-family: fantasy;
  padding: 10px;
}

button:hover {
  color: rgb(122, 222, 222) ;
  background-color: black;
}

